<header>
    <div class="HTitle">
          <div class="title">
            <h1>CipherMinds</h1>
            <p>Enigmatic Ciphers: One Cipher at a Time</p>
          </div><br>
          <div class="logo">
            <img src="../../assets/logo-white.svg" alt="CipherMinds Logo">
          </div>
    </div>
    
  </header>
  
  <section class="about">
    <div class="container">
      <h2>About CipherMinds</h2>
      <p>
        CipherMinds is a revolutionary platform that fosters a vibrant community of curious learners, researchers, and explorers. Our mission is to unlock the hidden treasures of knowledge in various fields of study. From ancient complex problems to modern enigmas, CipherMinds embraces diverse disciplines and encourages interactive exploration.
      </p>
    </div>
  </section>
  
  
  <section class="vision">
    <div class="container">
      <h2>Our Vision</h2>
      <p>
        At CipherMinds, we envision a future where knowledge knows no bounds, and learning becomes an exhilarating adventure. We strive to redefine the way individuals acquire knowledge, inspire generations of knowledge seekers, and forge ahead in the pursuit of wisdom. Our platform aims to be a beacon of enlightenment, fostering a love for learning in every heart.
      </p>
    </div>
  </section>
  
  <section class="join">
    <div class="container">
      <h2>Join CipherMinds</h2>
      <p>
        Embark on an extraordinary journey of exploration and decipherment with CipherMinds. Join our vibrant community, engage in challenging ciphers, and collaborate with like-minded individuals. Track your progress, unlock achievements, and expand your horizons. Begin your quest to unlock the secrets of knowledge and thrive in the world of limitless learning.
      </p>
      <a href="https://discord.gg/GVwyNabu" target="_blank" class="cta-btn">Join Now</a>
    </div>
  </section>
  
  <section class="contact">
    <div class="container">
      <h2>Contact Us</h2>
      <p>
        We would love to hear from you! For inquiries, feedback, or partnership opportunities, please reach out to us on our Discord server in the #feedback channel:
        <br>
        <a href="https://discord.gg/GVwyNabu" target="_blank" style="align-items: center;">Join our Discord Server</a>
      </p>
    </div>
  </section>
  
  <footer>
    <div class="container">
      <p>&copy; 2023 CipherMinds. All rights reserved.</p>
    </div>
  </footer>
  